VITE_TAGGR_CANISTER_ID=6qfxa-ryaaa-aaaai-qbhsq-cai
VITE_TAGGR_API_MODE=real
VITE_TAGGR_DOMAIN=taggr-gallery.promptops.cc
VITE_TAGGR_CANONICAL_URL=https://6qfxa-ryaaa-aaaai-qbhsq-cai.icp0.io
VITE_TAGGR_CANONICAL_AUTH_URL=https://6qfxa-ryaaa-aaaai-qbhsq-cai.icp0.io
VITE_TAGGR_AUTH_MODE=delegation
VITE_TAGGR_DELEGATION_DOMAIN=taggr-gallery.promptops.cc
VITE_ICP_HOST=
VITE_II_URL=https://id.ai/?feature_flag_guided_upgrade=true
VITE_USD_PER_XDR=1.37
VITE_DEFAULT_REALM=
VITE_APP_NAME=Taggr Gallery
